@model CoreHotel.Models.EmpleadoosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmpleadoosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisModel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo_electronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo_electronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sueldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_at)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Empleados">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
