@model IEnumerable<CoreHotel.Models.TarjetasCreditoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_huesped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cvv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_titular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_huesped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cvv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_titular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated_at)
            </td>
        </tr>
}
    </tbody>
</table>
