@model CoreHotel.Models.HabitacionesModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HabitacionesModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio_por_noche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio_por_noche)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_at)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Habitacion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
